/* Background */
.rsDefault,
.rsOverflow,
.rsSlide,
.rsVideoFrameHolder,
.rsThumbs{
	background: $white;
	color: $white;
	overflow: hidden;
}

.rsSlide{
	li, div{
		height: 100%;
	}
}

.royalSlider *{
	background: $white;
}


/* Arrows */
.gallery,
.gallery_content{
	
	.rsArrow{
		height: 100%;
		width: rem-calc(44);
		position: absolute;
		display: block !important;
		cursor: pointer;
		z-index: 9;
		background: none;
		
		*{
			background: none;
		}
		
		.rsArrowIcn{		
			width: rem-calc(200);
			height: rem-calc(200);
			top: 50%;
			left: 50%;

			position: absolute;
			cursor: pointer;
		
			&:before{
				content: ' ';
				width: rem-calc(20);
				height: 50%;
				position: absolute;
				background: $white;
			}
		
			&:after{
				content: ' ';
				height: rem-calc(20);
				width: 50%;
				position: absolute;
				background: $white;
			}
		}
		
		&.rsArrowLeft,
		&.rsArrowRight{
			margin-left: 0;
			margin-right: 0;
			
			.rsArrowIcn{
				&:before{
					width: rem-calc(10);
					height: 30%;
				}
			
				&:after{
					width: 30%;
					height: rem-calc(10);
				}
			}
		}
		
		&.rsArrowLeft{
			top: 4.5em; 
			@include transform(rotate(-45deg));
		}
		
		&.rsArrowRight{
			top: -4.5em; 
			right: 0;
			@include transform(rotate(135deg));
		}
		
		&.rsArrowDisabled{
			.rsArrowIcn{
				opacity: .2; 
				filter: alpha(opacity=20);
				display: none; 
			}
		}
	}
}

/* Bullets */
.rsDefault{
	
	.rsBullets {
		z-index: 35;
		bottom: 2em;
		width: 100%;
		
		background: none;
		text-align: center;
		
		*{
			background: none;
		}
		
		.rsBullet {
			display: inline-block;
			*display:inline; 
			*zoom:1;
			padding: 0 .2em;
			
			span {
				display: block;
				width: rem-calc(10);
				height: rem-calc(10);
				border-radius: 50%;
				background: $white;
				cursor: pointer;
			}
		}
		
		.rsNavSelected{
			span{
				background-color: $black;
			}
		}
	}
}