/*
Syntax error: File to import not found or unreadable: components/text/text.
              Load paths:
                /Users/lucawater/Sites/azami2/content/themes/azami2/sass
                /Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/frameworks/blueprint/stylesheets
                /Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 20 of /Users/lucawater/Sites/azami2/content/themes/azami2/sass/app.scss

Backtrace:
/Users/lucawater/Sites/azami2/content/themes/azami2/sass/app.scss:20
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/import_node.rb:67:in `import'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/import_node.rb:28:in `imported_file'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/import_node.rb:37:in `css_import?'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/engine.rb:315:in `_render'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/sass-3.2.18/lib/sass/../sass/engine.rb:262:in `render'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/compiler.rb:139:in `compile'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/compiler.rb:126:in `timed'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/compiler.rb:138:in `compile'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/logger.rb:45:in `red'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/compiler.rb:137:in `compile'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/compiler.rb:103:in `run'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/compiler.rb:101:in `each'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/compiler.rb:101:in `run'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/compiler.rb:126:in `timed'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/compiler.rb:100:in `run'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/lucawater/.rvm/rubies/ruby-1.8.7-p352/lib/ruby/site_ruby/1.8/rubygems/core_ext/kernel_require.rb:55:in `to_proc'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `modified'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `run'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `run'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/commands/base.rb:18:in `execute'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/commands/project_base.rb:19:in `execute'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/bin/compass:30
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/bin/compass:44:in `call'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/bin/compass:44
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/bin/compass:23:in `load'
/Users/lucawater/.rvm/gems/ruby-1.8.7-p352/bin/compass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: components/text/text.\A               Load paths:\A                 /Users/lucawater/Sites/azami2/content/themes/azami2/sass\A                 /Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/frameworks/blueprint/stylesheets\A                 /Users/lucawater/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.12.4/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 20 of /Users/lucawater/Sites/azami2/content/themes/azami2/sass/app.scss"; }
