.text{
	height: auto;
	overflow: hidden;
	padding-top: rem-calc(200);
	padding-bottom: rem-calc(200);
	
	.row{
		max-width: rem-calc(700);
		
		article{
			float: left !important;
		
			p{
				margin-top: 1em;
				margin-bottom: 2em;
			}
		
			a{
				color: $black;
			}
		}
	}
}

//Media queries
@media #{$medium-down}{
	.text{
		text-align: left !important;
		padding-top: rem-calc(80);
		padding-bottom: rem-calc(80);
		
		.quote{
			display: none;
		}
	}
}