.menu{
	li{
		//Language buttons
		&.button_lang,
		&.lang-item{
			height: auto;
			margin: 1.2em .5em;
			padding: 0 .7em;
			border: 2px solid white;
			line-height: 2.5;
			float: right;
			
			&.current-lang{
				background: $white;
				
				a{
					color: $black;
				}
			}
			
			&:hover{
				background: $white;
				color: $black;
				cursor: pointer;
		
				a{
					color: $black;
				}
			}
	
			a{
				font-size: rem-calc(14);
			}
		}
	}
}

#menu_small{
	#menu_small_collapsed{
		.lang-item{
			float: none;
			padding: 1em;
		}
	}
}