//Menu 'the Hamburger' icon
//Trigger for '#menu-small-collapsed'
#hamburger{
	width: rem-calc(30);
	height: rem-calc(20);
	margin-right: rem-calc(15);
	float: right;
	top: .6em;

	background: transparent;

	a{
		background: white;
		width: 100%;
		height: rem-calc(16);
		position: absolute;
		border-top: rem-calc(6) solid $black;
		border-bottom: rem-calc(6) solid $black;
		box-shadow: 0 rem-calc(4) 0 white, 0 rem-calc(-4) 0 white; //Serves as outer borders
	}
}