.menu-collection{
	width: 100%;
	margin-bottom: rem-calc(140 - 80); // Same as margin-bottom of content minus header height (5rem)
	text-align: center;
	
	li{
		display: inline-block;
		margin: 1em 2em;
		
		a{
			color: black;
			text-align: center;
			text-transform: capitalize;
			
			&:after{
				content: ' ';
				width: 40%;
				display: block;
				margin: .5em auto 0;
				border-bottom: 2px solid transparent;
			}
			
			&:hover{
				&:after{
					border-bottom: 2px solid $black;
				}
			}
		}
		
		&.current-menu-item{
			a{
				&:after{
					border-bottom: 2px solid $black;
				}
			}
		}
	}
}