.menu{
	width: 100% !important;
	height: rem-calc(80);
	position: absolute;
	top: inherit !important;
	display: inline;
	
	//Recreating a Foundation 20 column class
	padding-left: 8.33335%;
	padding-right: 8.33335%;
	
	z-index: 999;
	background: $black;
	
	li{
		height: 100%;
		padding: 2em 0;
		display: inline-block;
		text-align: center;
		
		//Setting the logo
		&.logo{
			height: 100%;
			padding: 0;
			margin-top: rem-calc(20);
			margin-right: 4%;
			
			a{
				img{
					max-height: 50%;
				}
			}
		}
		
		//List items
		&.menu-item{
			a{
				display: block;
				
				&:after{
					content: ' ';
					width: 20%;
					display: block;
					margin: .5em auto 0;
					border-bottom: 2px solid transparent;
				}
				
				&:hover{
					&:after{
						border-bottom: 2px solid $white;
					}
				}
			}
			
			&.current-menu-item{
				a{
					&:after{
						content: ' ';
						width: 20%;
						display: block;
						margin: .5em auto 0;
						border-bottom: 2px solid $white;
					}
				}
			}
		}
	}
}

.sticky-wrapper{
	height: 0 !important;
	
	&.is-sticky{
		.menu{
			top: 0 !important;
		}
	}
}

//Media queries
@media #{$medium-down}{	
	#menu{
		visibility: hidden;
	}
}