.alpines{
  .AlpinePhotoTiles_inpost_container{
    height: 100%;
    
    .AlpinePhotoTiles_container_class{
      height: 100%;
    
      .AlpinePhotoTiles_parent_class{
        height: 100%;
      
        a.AlpinePhotoTiles-link{
          width: 25%;
          height: 50%;
          float: left;
          overflow: hidden;
          margin-bottom: -1px;
        
          img{
            max-width: none !important;
            min-height: 100%;
          }
        }
      }
    }
  }
}

//Media queries
@media (max-width: 1440px){
  a.AlpinePhotoTiles-link{
    img{
      left: -25%;
    }
  }
}

@media #{$medium-down}{
  .alpines{
    width: 100% !important;
  }
}

@media #{$small-only}{
  .alpines{
    max-height: rem-calc(400);
    
    a.AlpinePhotoTiles-link{
      width: 50% !important;
      padding: 0;
      margin: 0 !important;
    }
  }
}