.alpines{
  max-width: none !important;
  
  .AlpinePhotoTiles_inpost_container{
    height: 100%;
    
    .AlpinePhotoTiles_container_class{
      height: 100%;
    
      .AlpinePhotoTiles_parent_class{
        height: 100%;
      
        a.AlpinePhotoTiles-link{
          width: 25%;
          height: 50%;
          float: left;
          overflow: hidden;
          margin-bottom: -1px !important;
        
          img{
            height: 100%;
            max-width: none !important;
            left: -25%;
          }
        }
      }
    }
  }
}

//Media queries
@media (max-width: 1440px){
  a.AlpinePhotoTiles-link{
    img{
      //@include transform(translateX(-25%));
    }
  }
}

@media #{$medium-down}{
  .alpines{
    width: 100% !important;
  }
}

@media #{$small-only}{
  .alpines{
    height: rem-calc(600) !important;

    .AlpinePhotoTiles_inpost_container{
      .AlpinePhotoTiles_container_class{
        .AlpinePhotoTiles_parent_class{
          a.AlpinePhotoTiles-link{
            width: 50% !important;
            padding: 0;
            margin: 0 !important;
            margin-bottom: -1px !important;

            img{
              left: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px){
  .alpines{
    height: rem-calc(480) !important;
  }
}