.gallery_content{
	width: 100%;
	height: auto;
	overflow: hidden;
	
	p.uppercase{
		text-align: center;
	}
	
	.contentSlider{
		width: 70%;
		margin: 0 auto;
		overflow: visible;
		background: none;
	
		.rsOverflow{
			height: 0 !important;
			padding-bottom: 56.25% !important;//16:9
			
			img{
				margin-top: 0 !important;
			}
		}
		
		.rsArrow{
			top: 0;
		}
		
		.rsBullets{
			visibility: hidden;
		}
		
		.rsGCaption{
			width: 100%;
			max-width: rem-calc(900);
			height: auto;
			overflow: hidden;
			margin: 1em auto 0;
			top: 1em;
			float: none;
			text-align: center;
		
			.rsCaption{
				width: 80%;
				margin: 0 auto;
			}
		}
	}
}

.royalSlider *{
	color: black;
}

.rsArrowLeft,
.rsArrowRight{
	top: -.5em;
	margin-left: 0;
	margin-right: 0;
	
	.rsArrowIcn{
		&:before{
			width: rem-calc(10);
			height: 30%;
		}
		
		&:after{
			width: 30%;
			height: rem-calc(10);
		}
	}
}

//Media queries
@media #{$medium-down}{
	.gallery_content{		
		p.uppercase{
			text-align: left;
			width: 80%;
			margin: 1em auto;
		}
		
		.contentSlider{
			width: 120% !important;
			margin-left: -10%;
			
			.rsBullets{
				visibility: visible !important;
			}
		}
		
		.rsGCaption{
			width: 65% !important;
			margin: 1em auto !important;
			float: none;
			
			.rsCaption{
				width: 100% !important;
				text-align: left;
			}
		}
	}
}